.recipe-details {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative;
}

.close-button {
  cursor: pointer;
  position: absolute;
  top: 15px;
  right: 25px;
  font-size: 1.5em;
  color: #333;
  background: none;
  border: none;
  margin-bottom: 10px;
}

.show-recipe-name {
  font-size: 2em;
  text-align: center;
}

.micro-descriptions {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  padding: 0px 25px;
  margin-bottom: 20px;
}

.show-recipe-image-container {
  width: 100%;
  max-width: 400px;
  height: auto;
  position: relative;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin: 0 auto;
}

.show-recipe-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 10px;
}

.recipe-micro-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.micro-container {
  display: flex;
  gap: 20px;
  align-items: center;
}

.micro-details {
  font-size: 0.975em;
  color: #404040;
}

.recipe-ingredients,
.recipe-instructions {
  margin: 20px 10px;
}

.show-recipe-heading {
  font-size: 1.5em;
  color: #333;
  margin-bottom: 10px;
}

.ingredient-info-container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.ingredient-info-container ul {
  flex: 1;
  list-style-type: disc;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recipe-instructions ol {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

@media (min-width: 768px) {
  .micro-descriptions {
    grid-template-columns: 1fr 1fr;
  }

  .ingredient-info-container {
    grid-template-columns: 1fr 1fr;
  }
}
